.modal
	.modal_content
		.modal_cross
			.modal_close 
		.modal_title ПРЕИМУЩЕСТВА G-SYNC
		.modal_input_name 
			input(placeholder="Имя")
		.modal_input_mail 
			input(placeholder="Mail")
		a.modal_btn(href="#") Купить
